<!doctype html>
<html lang="en">
  <head>
	<title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
      var timeout
      $(window).scroll(function() {
          clearTimeout(timeout); 
          timeout = setTimeout(() => {
          // if($(window).scrollTop() == $(document).height() - $(window).height()) {
            if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight) {
              if ( $("#followersTab").hasClass("active") ) {
                maxId = $('#maxFollowersId').val()
                $.post("/users/getMoreFollowers",
                {
                  offset: maxId
                },
                function(data) {
                  data = $.parseJSON(data);
                  if (data.length > 0) {
                    $('#maxFollowersId').val(data[data.length-1]["fid"]);
                    $.each(data, function(i, item) {
                      html = "";
                      if (item["followed"] > 0) {
                        html = $('<div class="card shadow-lg bg-dark" style="border-radius:10px; margin-top:20px; margin-bottom:20px;">')
                            .append($('<div class="card-body">')
                            .append('<span class="glyphicon glyphicon-user"></span>')
                            .append(item["name"])
                            .append('<button id="follower'+item["id"]+'" onclick="doUnfollow('+item["id"]+')" style="font-size:10px;border-radius:12px; background-color:white; color: black; border: solid; margin-left: auto; margin-right: 0;"> Unfollow </button>'));
                      } else {
                        html = $('<div class="card shadow-lg bg-dark" style="border-radius:10px; margin-top:20px; margin-bottom:20px;">')
                            .append($('<div class="card-body">')
                            .append('<span class="glyphicon glyphicon-user"></span>')
                            .append(item["name"])
                            .append('<button id="follower'+item["id"]+'" onclick="doFollow('+item["id"]+')" style="font-size:10px;border-radius:12px; background-color:white; color: black; border: solid; margin-left: auto; margin-right: 0;"> Follow </button>'));
                      }
                      $('#followersContent').append(html)
                    });
                  }
                });
              } else {

              }
            }
          }, 50);
      });

      function doFollow(userid) {
        $.post("/users/doFollow",
        {
          userid: userid 
        },
        function(data) {
          $("#follower" + userid).attr("onclick","doUnfollow(" + userid + ")");
          $("#follower" + userid).html("Unfollow");

          $("#following" + userid).attr("onclick","doUnfollow(" + userid + ")");
          $("#following" + userid).html("Unfollow");
        });
      }

      function doUnfollow(userid) {
        $.post("/users/doUnfollow",
        {
          userid: userid 
        },
        function(data) {
          $("#follower" + userid).attr("onclick","doFollow(" + userid + ")");
          $("#follower" + userid).html("Follow");

          $("#following" + userid).attr("onclick","doFollow(" + userid + ")");
          $("#following" + userid).html("Follow");
        });
      }
    </script>

  </head>
  <body style="background-color:black; color:white; font-size:20px">
		<div class="container" style="margin-top:10px">
      <div class="row">
        <div class="col-2">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Notification</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Message</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#tweetModal" href="#tweetModal">Tweet</a>
            </li>
          </ul>
        </div>

        <div class="col-8" style="border-left:solid; border-right:solid">
          <div>
            <form class="form-inline my-2 my-lg-0" action="/tweet/search" method="post">
                <input name="keyword" type="search" placeholder="Search" style="width:400px; text-align:center; margin:0 auto; color:black">
            </form>
          </div>

          <div class="text-center" style="margin-top:50px">
            <span class="glyphicon glyphicon-user" style="font-size:100px"></span>
            <h3> <%= session[:user][:name] %> </h3>
            <input id="maxFollowersId" type="hidden" value="<%= @maxFollowersId%>">
            <input id="maxFollowingId" type="hidden" value="<%= @maxFollowingId%>">
          </div>

          <ul class="nav nav-tabs justify-content-center" style="margin-top:50px; border-bottom:solid">
            <li id="followersTab" <%= @flag=='true' ? "class='active'" : "" %>>
              <a id="followersTab" href="#followersContent" data-toggle="tab">Followers</a>
            </li>
            <li id="followingTab" <%= @flag=='false' ? "class='active'" : "" %>>
              <a id="followingTab" href="#followingContent" data-toggle="tab">Following</a>
            </li>
          </ul>

          <div class="tab-content">
            <div <%= @flag=='true' ? "class='tab-pane active'" : "class='tab-pane'" %> id="followersContent">
              <% @followersData.each do |follower| %>
                <div class="card shadow-lg bg-dark" style="border-radius:10px; margin-top:20px; margin-bottom:20px;">
                  <div class="card-body">
                    <span class="glyphicon glyphicon-user"></span>
                    <%= follower["name"] %>
                    <% if follower["followed"]>0%>
                      <button id="follower<%= follower['id']%>" onclick="doUnfollow(<%= follower['id']%>)" style="font-size:10px;border-radius:12px; background-color:white; color: black; border: solid; margin-left: auto;
                      margin-right: 0;"> Unfollow </button>
                    <% else %>
                      <button id="follower<%= follower['id']%>" onclick="doFollow(<%= follower['id']%>)" style="font-size:10px;border-radius:12px; background-color:white; color: black; border: solid; margin-left: auto;
                      margin-right: 0;"> Follow </button>
                    <% end %> 
                  </div>
                </div>
              <%end%>
            </div>
            <div <%= @flag=='true' ? "class='tab-pane'" : "class='tab-pane active'" %> id="followingContent">
              <% @followingData.each do |following| %>
                <div class="card shadow-lg bg-dark" style="border-radius:10px; margin-top:20px; margin-bottom:20px;">
                  <div class="card-body">
                    <span class="glyphicon glyphicon-user"></span>
                    <%= following["name"] %>
                    <button id="following<%= following['id']%>" onclick="doUnfollow(<%= following['id']%>)" style="font-size:10px;border-radius:12px; background-color:white; color: black; border: solid; margin-left: auto;
                    margin-right: 0;"> Unfollow </button>
                  </div>
                </div>
              <%end%>
            </div>
          </div>

        </div>
      
        <div class="col-2">
          You might like:
          <div class="card shadow-lg bg-dark" style="border-radius:10px; display: block; margin-top:20px; margin-bottom:20px;">
            <div class="card-title">
              <span class="glyphicon glyphicon-user"></span>
              Timothy
              <br>
              <button style="font-size:10px;border-radius:12px; background-color:white; color: black; border: solid; margin-left: auto; margin-right: 0;"> Follow </button>
            </div>
          </div>

          <div class="card shadow-lg bg-dark" style="border-radius:10px; margin-top:20px; margin-bottom:20px;">
            <div class="card-title">
              <span class="glyphicon glyphicon-user"></span>
              Antonella
              <br>
              <button style="font-size:10px;border-radius:12px; background-color:white; color: black; border: solid; margin-left: auto;
              margin-right: 0;"> Follow </button>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="modal tweetModal" id="tweetModal" aria-hidden="true" tabindex="-1" role="dialog" aria-labelledby="tweetModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form style="height:300px; margin:0px; padding:0px; display:inline; border-radius:40px">
              <textarea style="background-color:black; color:white; width:100%;height:100%; font-size: medium">
              </textarea>
              <button style="font-size:20px;border-radius:12px; background-color:white; color: black; border: solid; position: fixed;
              bottom: 0px;right: 0px; border-top:solid"> Tweet </button>
            </form>
        </div>
      </div>
    </div>
    

    <%# <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> %>
  </body>
</html>