<!doctype html>
<html lang="en">
  <head>
	<title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
      var timeout
      $(window).scroll(function() {
          clearTimeout(timeout); 
          timeout = setTimeout(() => {
          // if($(window).scrollTop() == $(document).height() - $(window).height()) {
            if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight) {
              totalNum = $('#totalNum').val()
              $.post("/tweet/getMoreTimeline",
              {
                offset: totalNum
              },
              function(data) {
                data = $.parseJSON(data);
                if (data.length > 0) {
                  $('#totalNum').val(data.length+parseInt(totalNum));
                  $.each(data, function(i, item) {
                    html = $('<div class="card shadow-lg bg-dark" style="border-radius:10px; margin-top:20px; margin-bottom:20px;">');
                    title = $('<div class="card-title">')
                        .append('<span class="glyphicon glyphicon-user"></span>')
                        .append(item["name"])
                        .append('&emsp;')
                        .append('<span style="font-size:15px">'+String(item["create_time"]).slice(0,-5).replace('T', ' ')+'</span>');
                    body = $('<div class="card-body">');
                    footer = $('<div style="font-size:10px">')
                        .append('<a href="#0" class="button" onclick="retweet('+item['user_id']+","+item['id']+')">  <span class="glyphicon glyphicon-comment"></span> </a>');
                    if (item["retweets_counter"] == null) {
                      footer.append('<span id="retweet'+item['id']+'"> 0 </span>');
                    } else {
                      footer.append('<span id="retweet'+item['id']+'"> '+item["retweets_counter"]+' </span>');
                    }
                    footer.append('retweets')
                    footer.append('<a href="#0" class="button" onclick="like('+item['user_id']+","+item['id']+')"> <span class="glyphicon glyphicon-heart"></span> </a>');
                    if (item["likes_counter"] == null) {
                      footer.append('<span id="like'+item['id']+'"> 0 </span>');
                    } else {
                      footer.append('<span id="like'+item['id']+'"> '+item["likes_counter"]+' </span>');
                    }
                    footer.append('likes')
                    body.append(item['text']).append(footer);
                    html.append(title, body);
                        
                    $('#timelineContent').append(html)

                  });
                }
              });
            }
          }, 50);
      });
      
      function doFollow(userid) {
        $.post("/users/doFollow",
        {
          userid: userid 
        },
        function(data) {
          window.location.replace("/home");
        });
      }

      function like(userid, tweetid){
        $.post("/tweet/like",
        {
          userid: userid,
          tweetid: tweetid 
        },
        function(data) {
          if (data != "-1") {
            $('#like'+tweetid).html(data)
          }
        });
      }

      function retweet(userid, tweetid){
        $.post("/tweet/retweet",
        {
          userid: userid,
          tweetid: tweetid 
        },
        function(data) {
          if (data != "-1") {
            $('#retweet'+tweetid).html(data)
          }
        });
      }
    </script>
  </head>
  <body style="background-color:black; color:white; font-size:20px">
    <form action="/logout" style="margin-top: 1px; margin-left: 2px; position:absolute; top:0; left:0;"> <input style="font-size:10px;background-color:black" type="submit" value="LogOut"/> </form>
		<div class="container" style="margin-top:10px">
      <div class="row">
        <div class="col-2">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#tweetModal" href="#tweetModal">Tweet</a>
            </li>
          </ul>
        </div>

        <div class="col-8" style="border-left:solid; border-right:solid">
          <div>
            <form class="form-inline my-2 my-lg-0" action="/search" method="get">
                <input name="phrase" type="search" placeholder="Search" style="width:400px; text-align:center; margin:0 auto; color:black">
            </form>
          </div>

          <div class="text-center" style="margin-top:50px">
            <span class="glyphicon glyphicon-user" style="font-size:100px"></span>
            <h3> <%= @user['name'] %> </h3>
            <p style="font-size:15px">
            Joined <%= @user['create_time'].to_s[0..-5]%>
            <br>
            <%= @followingCount %> <a href="/users/follow/false"> following</a>, <%= @followerCount %> <a href="/users/follow/true"> followers</a>
            <input id="totalNum" type="hidden" value="<%= @tweet.length()%>">
            <%# <button style="font-size:10px;border-radius:12px; background-color:blue; color: white; border: solid; margin-left: auto;
              margin-right: 0;"> Follow </button> %>
            </p>
          </div>

          <ul class="nav nav-tabs justify-content-center" style="margin-top:50px; border-bottom:solid">
              <li id="timelineTab" class="active" >
                <a id="timelineTab" href="#timelineContent" data-toggle="tab">Timeline</a>
              </li>
              <li id="replies">
                <a id="timelineTab" href="#">Tweets and Replies</a>
              </li>
              <li id="likes">
                <a id="timelineTab" href="#">Likes</a>
              </li>
          </ul>

          <% if @tweet.length==0 %>
            <h1 style="text-align:center" id="warning"> Follow users to read their posts </h1>
          <% end %>

          <div class="tab-pane active" id="timelineContent">
            <% @tweet.each do |t| %>
              <div class="card shadow-lg bg-dark" style="border-radius:10px; margin-top:20px; margin-bottom:20px;">
                <div class="card-title">
                  <span class="glyphicon glyphicon-user"></span>
                  <%= t.name %>&emsp;<span style="font-size:15px"><%= t.create_time.to_s[0..-5]%></span>
                </div>
                <div class="card-body">
                  <%= t.text %>
                    <div style="font-size:10px">
                      <a href="#0" class="button" onclick="retweet(<%= t.user_id %>, <%= t.id %>)">  <span class="glyphicon glyphicon-comment"></span> </a>
                      <span id="retweet<%= t.id %>"><% if t.retweets_counter==nil %> 0 <% else %> <%=t.retweets_counter%> <% end %></span> retweets
                      <a href="#0" class="button" onclick="like(<%= t.user_id %>, <%= t.id %>)"> <span class="glyphicon glyphicon-heart"></span> </a>
                      <span id="like<%= t.id %>"><% if t.likes_counter==nil %> 0 <% else %> <%=t.likes_counter%> <% end %></span> likes
                    </div>
                </div> 
              </div>
            <% end %>
          </div>
        </div>
      
        <div class="col-2">
          You might like:
          <% @recommend_users.each do |u| %>
            <div class="card shadow-lg bg-dark" style="border-radius:10px; margin-top:20px; margin-bottom:20px;">
              <div class="card-title">
                <span class="glyphicon glyphicon-user"></span>
                <%= JSON.parse(u)['name'] %>
                <br>
                <button  onclick="doFollow(<%= JSON.parse(u)['id']%>)" style="font-size:10px;border-radius:12px; background-color:white; color: black; border: solid; margin-left: auto;
                margin-right: 0;">  Follow 
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>

    <div class="modal tweetModal" id="tweetModal" aria-hidden="true" tabindex="-1" role="dialog" aria-labelledby="tweetModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/tweet/new" method="post" style="height:300px; margin:0px; padding:0px; display:inline; border-radius:40px">
              <textarea name="text" style="background-color:black; color:white; width:100%;height:100%; font-size: medium" maxlength="280">
              </textarea>
              <button style="font-size:20px;border-radius:12px; background-color:white; color: black; border: solid; position: fixed;
              bottom: 0px;right: 0px; border-top:solid"> Tweet </button>
            </form>
        </div>
      </div>
    </div>
  </body>
</html>