<!doctype html>
<html lang="en">
  <head>
	<title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
      function doFollow(userid) {
        $.post("/users/doFollow",
        {
          userid: userid 
        },
        function(data) {
          window.location.replace("/home");
        });
      }

      function like(tweetid){
        $.get("/tweet/like",{tweetid:tweetid});
        };
    </script>
  </head>
  <body style="background-color:black; color:white; font-size:20px">
    <form action="/logout" style="margin-top: 1px; margin-left: 2px; position:absolute; top:0; left:0;"> <input style="font-size:10px;background-color:black" type="submit" value="LogOut"/> </form>
		<div class="container" style="margin-top:10px">
      <div class="row">
        <div class="col-2">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#tweetModal" href="#tweetModal">Tweet</a>
            </li>
          </ul>
        </div>

        <div class="col-8" style="height:100vh; border-left:solid; border-right:solid">
          <div>
            <form class="form-inline my-2 my-lg-0" action="/search" method="get">
                <input name="phrase" type="search" placeholder="Search" style="width:400px; text-align:center; margin:0 auto; color:black">
            </form>
          </div>

          <div class="text-center" style="margin-top:50px">
            <span class="glyphicon glyphicon-user" style="font-size:100px"></span>
            <h3> <%= @user['name'] %> </h3>
            <p style="font-size:15px">
            cosi 105 Professor
            create at march 2
            <br>
            <%= @followingCount %> <a href="/users/follow/false"> following</a>, <%= @followerCount %> <a href="/users/follow/true"> followers</a>
            <button style="font-size:10px;border-radius:12px; background-color:blue; color: white; border: solid; margin-left: auto;
              margin-right: 0;"> Follow </button>
            </p>
          </div>

          <ul class="nav justify-content-center" style="margin-top:50px; border-bottom:solid">
              <li class="nav-item">
              <a class="nav-link active" href="#">Timeline</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Tweets and Replies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Likes</a>
              </li>
          </ul>

          <% if @tweet.length==0 %>
            <h1 style="text-align:center"> Follow users to read their posts </h1>
          <% end %>

          <% @tweet.each do |t| %>
          <div class="card shadow-lg bg-dark" style="border-radius:10px; margin-top:20px; margin-bottom:20px;">
            <div class="card-title">
              <span class="glyphicon glyphicon-user"></span>
              <%= t.name %>
            </div>
            <div class="card-body">
              <%= t.text %>
                <div style="font-size:10px">
                  <a href="#0" class="button" onclick="retweet(<%= t.id %>)">  <span class="glyphicon glyphicon-comment"></span> </a>
                  <% if t.retweets_counter==nil %> 0 <% else %> <%=t.retweets_counter%> <% end %> retweets
                  <a href="#0" class="button" onclick="like(<%= t.id %>)"> <span class="glyphicon glyphicon-heart"></span> </a>
                  <% if t.likes_counter==nil %> 0 <% else %> <%=t.likes_counter%> <% end %> likes
                </div>
            </div> 
          </div>
          <% end %>

        </div>
      
        <div class="col-2">
          You might like:
          <% @recommend_users.each do |u| %>
            <div class="card shadow-lg bg-dark" style="border-radius:10px; margin-top:20px; margin-bottom:20px;">
              <div class="card-title">
                <span class="glyphicon glyphicon-user"></span>
                <%= u[0].name %>
                <br>
                <button  onclick="doFollow(<%= u[0].id%>)" style="font-size:10px;border-radius:12px; background-color:white; color: black; border: solid; margin-left: auto;
                margin-right: 0;"> <% if u[1] %> Follow <% else %> Unfollow <% end %> </button>
                </form>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>

    <div class="modal tweetModal" id="tweetModal" aria-hidden="true" tabindex="-1" role="dialog" aria-labelledby="tweetModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/tweet/new" method="post" style="height:300px; margin:0px; padding:0px; display:inline; border-radius:40px">
              <textarea name="text" style="background-color:black; color:white; width:100%;height:100%; font-size: medium" maxlength="280">
              </textarea>
              <button style="font-size:20px;border-radius:12px; background-color:white; color: black; border: solid; position: fixed;
              bottom: 0px;right: 0px; border-top:solid"> Tweet </button>
            </form>
        </div>
      </div>
    </div>
  </body>
</html>